body{ 
    font-family: Arial, San-Serif; 
    font-size: 100%; 
    background-color: 606c38;
}

ul{ 
    margin: 0; 
    padding: 0; 
} 

ul li{
    list-style-type: none; 
} 

a{ 
    text-decoration: none; 
}

header{
    padding: 50px 0;
    background-color: cdb4db;
} 

h1,h2{ 
color: 344e41; 
text-align: center; 
}

nav{ 
    background-color: 6f1d1b; 
    border-color: bb9457;
    min-height: 64px; 
} 

nav li{ 
    float: left; 
    width: 100px; 
} 

nav a{ 
    display: block; 
    color: 432818;
    line-height: 4em; 
    font-weight: bold; 
    text-align: center; 
} 

nav li a:hover{ 
    color: 99582a; 
    background-color: ffe6a7; 
}

p{ 
    font-size: 16px; 
    line-height: 1.3; 
    margin-top: 0.1em; 
    margin-bottom: 0; 
    color: 1d3557; 
}

footer{ 
    background-color: bde0fe; 
    color: ffc8dd; 
    padding: 20px 0; 
    margin-top: 30px; 
}

.Img{ 
        width: 200px; 
} 

.left{ 
        float: left; 
} 

.right{ 
        float: right; 
}

.img-container li{ 
    display: inline-block; 
    width: 32%; 
    padding: 10px; 
} 
.img-container{ 
    text-align: center; 
    margin-top:20px; 
    width: 100%; 
} 
.img-container img{ 
    width: 80%; 
    display: inline-block; 
    transition: .25s; 
}
.img-container ul li{ 
    list-style-type: none; 
}


.inline-img { 
    text-align: center; 
} 
.inline-img img { 
    width: 250px; 
    display: inline-block; 
    border-radius: 15px; 
 }